.headerContainer,
.headerContainerDark {
  max-width: 1400px;
  position: sticky;
  top: 0;
  padding: 24px 20px 48px;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.headerContainer {
  background: linear-gradient(rgba(243, 243, 243, 1) 90%, rgba(243, 243, 243, 0) 100%);
}

.headerContainerDark {
  background: linear-gradient(rgba(35, 37, 46, 1) 90%, rgba(35, 37, 46, 0) 100%);
}

.filterRow {
  flex: 1;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterRow,
.accountButton {
  height: 40px;
}

.label {
  white-space: nowrap;
}

.accountIcon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 12px;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.imtoken {
  background-image: url('/connectors/icn-imtoken.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}

.switchIcon {
  font-size: 1.5rem !important;
  margin-top: 0.2rem;
}

.backButton {
  flex: 1;
}

.searchContainer {
  margin-right: 24px !important;
}

.searchPaper {
  width: 100%;
}

.searchInputAdnornment {
  font-size: 14px !important;
  font-weight: bold !important;
}

@media screen and (min-width: 600px) {
  .headerContainer,
  .headerContainerDark {
    padding: 24px 48px 48px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .headerContainer,
  .headerContainerDark {
    padding: 24px 48px 48px;
    gap: 4px;
  }
}

@media (min-width: 1200px) {
  .headerContainer,
  .headerContainerDark {
    padding: 24px 48px 48px;
    gap: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .headerContainer,
  .headerContainerDark {
    padding: 24px 20px 48px;
    gap: 4px;
  }
}
